.gallery {
  color: aliceblue;
  width: 75%;
  margin-inline: auto;
}

.flex-imp{
  display: flex !important;
}

.main-container-image {
  padding-block: 2rem;
}

.main-container-label {
}
.blur{
  background-color: rgba(60, 60, 60, 0.627);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(9px);
}
.main-container-card {
  padding-block: 2rem;
  padding-inline: 33px;
  border-radius: 19px;
  margin-top: 5%;
  border-top: 0.1px solid whitesmoke;
  border-right: 0.1px solid whitesmoke;
  box-shadow: 20px 20px 50px rgba(60, 60, 60, 0.25);
  font-size: calc(10px + 2vmin);
}
.hero {
  color: white;
  height: calc(80vh);
  position: relative;
}
.hero-header {
  padding-top: 3rem;
}
.heading {
  font-size: calc(9vw);
  font-weight: 200;
  letter-spacing: 12px;
}
.subheading {
  font-size: calc(2vw);
  font-weight: 800;
  letter-spacing: 1px;
}
.silhouette{
position: absolute;
height: calc(70vh);
width: 100%;

}

/* Actions */
.grow:hover {
  height: 20%;
}
